.postyper_field:first {
	margin-top: 0;
}

.postyper_field textarea {
	width: 98%;
	height: 4em;
}

.postyper_field {
	margin-top: 3px;
}

.postyper_field_blank {
	display: none;
}

.postyper_field .summary {
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #CCC;
	background-color: #F6F6F6;
}

.postyper_field .summary:hover {
	background-color: #EEE;
	cursor: pointer;
}

.postyper_field .summary .label {
	font-weight: bold;
}

.postyper_field .edit {
	display: none;
	margin-left: 5px;
	padding: 5px 10px;
	border: 1px solid #CCC;
	border-top: 0;
}

.postyper_field .options .value {
	margin-left: 8px;
}

.postyper_field .options .value span {
	padding: 3px;
	background-color: #F9F9F9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 0px solid #000000;
	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(000,000,000,0.5);
}

.postyper_field .options .value span:hover {
	background-color: #F3F3F3;
	cursor: pointer;
}

.postyper_field .options .value span:active {
	position: relative;
	top: 1px;
}

.submit .postyper_delete {
	color: #900;
}

.postyper_type_warning {
	display: none;
	color: #900;
}