body {
	margin-top: 1.0em;
	background-color: #81ac52;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
}

#container {
	margin: 0 auto;
	width: 960px;
}

h1 {
	font-size: 3.8em;
	color: #FFF;
	margin-bottom: 3px;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	color: #FFF;
	text-decoration: none
}

h2 {
	font-size: 1.5em;
	color: #FFF;
}

h3 {
	text-align: center;
	color: #FFF;
}

a {
	color: #FFF;
}

p {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
}

pre {
	background: #222;
	color: #fff;
	padding: 15px;
}